doctype

html(lang="ru")
  
  -var active = 'Контакты' //активный пункт меню, список в header.jade
  -var pageTitle = 'Контакты' + ' - Конаково' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header

    // Breadcrumbs
    .breadcrumbs
      .container
        ul
          li: a(href="#!") Главная
          li: span  Название раздела

    // Big picture
    .big-picture(style="background-image: url('./tmp/bg/bg-contacts.jpg');")
    
    // Content
    .content
      .container

        .contacts
          .row
            .col-sm-4
              .border-lines 
                span координаты
                span конаково

              .clear
              .contacts__title country club

            .col-sm-8

              .contacts__block.contacts__block--address
                i.ion-home
                | Россия, Тверская обл., г. Конаково, ул. Пригородная, дом 70 
              .contacts__block
                i.ion-android-pin
                | GPS координаты 56.130862,36.504313
              .contacts__block.contacts__block--phone
                i.ion-android-call
                a(href="tel:") +7 (495) 6262-333
              .contacts__table
                .contacts__table-row
                  div
                    .contacts__block
                      i.ion-ios-email
                      a(href='mailto:')
                        strong info@izumrudnyles.ru 
                  div – Общая информация
                .contacts__table-row
                  div
                    .contacts__block
                      i.ion-ios-email
                      a(href='mailto:')
                        strong reservations@konakovo.com
                  div – Бронирование номеров
        
        #map_canvas

        // Google Map
        script(src='https://maps.googleapis.com/maps/api/js?sensor=false')
        script.
          function initialize() {
          var myLatlng = new google.maps.LatLng(56.130862,36.504313);
          var map_options = {
          zoom: 17,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          center: myLatlng,
          scrollwheel: false,
          disableDefaultUI: true
          }
          var map = new google.maps.Map(document.getElementById('map_canvas'), map_options)
          var myIcon = new google.maps.MarkerImage('./images/map.png', null, null, null, new google.maps.Size(151,194));
          var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            icon: myIcon
          });
          /* Remove if you dont want B/W Google Map */
          /*
          var styles = [
          {
          featureType: "all",
          stylers: [
          { saturation: -100 }
          ]
          }
          ];
          map.setOptions({styles: styles});
          */
          }
          google.maps.event.addDomListener(window, 'load', initialize);
        // Google Map Ends!

        // Driveway
        .driveway

          .border-lines 
            span Как к нам 
            span добраться

          .driveway__row
            div
              .driveway__block
                img(src="./images/icons/icon-car.svg", alt="").driveway__block-img 
                .driveway__block-title На автомобиле
                p 88 км от МКАД по Новорижскому шоссе - двигаемся 66 км по трассе М9 в сторону области. Далее съезд с автодороги М9 направо, на А108 по указателю "Клин", "Санкт-Петербург". Двигаемся по главной дороге 13 км, затем смещаемся на левосторонний съезд с А108 по указателю "Нарынка". Далее все время прямо, порядка 7 км до въезда в отель.

                p
                  strong
                    small
                      a(href="#!") Скачать карту проезда по Ленинградскому шоссе
                      br
                      a(href="#!") Скачать карту проезда по Новорижскому шоссе
      
            div
              .driveway__block
                img(src="./images/icons/icon-bus.svg", alt="").driveway__block-img 
                .driveway__block-title Общественным транспортом
                p В Москве от Ленинградского вокзала на скоростном электропоезде «Ласточка» до ж.д. станции «Клин» (Тверское направление). Далее с автостанции «Клин» рейсовым автобусом №44 или на маршрутном такси №61 до населенного пункта «Нарынка». Затем пешком, порядка 5 км до владения «Контри клаб».
      
      // Form
      include ./_include/_form
    
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")
    
